# Node
node_modules/
package-lock.json
**/node_modules/
**/.next/
**/build/
**/out/
**/dist/
**/package-lock.json

# Env
**/.env
**/.env.local

# Terraform
**/.terraform*
**/terraform*.*

# IDEs and editors
.idea/
.vscode/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*

# System files
.DS_Store
Thumbs.db