resource "mongodbatlas_database_user" "user-{{ user.username }}" {
    username           = "{{ user.username }}"
    password           = "{{ user.password }}"
    project_id         = var.project_id
    auth_database_name = "admin"
    roles {
        database_name = "{{ user.username }}"
        role_name     = "readWrite"
    }

    roles {
        database_name = "{{ common_database }}"
        role_name     = "read"
    }
}
